 <!--<form #addrForm="ngForm"> -->
  <div class="row">
    <div class="form-group">
      <label for="addr1" class="col-md-2 ">Address 1</label>
      <div class="col-md-4">
          <input type="text" [(ngModel)]="address.addr1" class="form-control" (blur)="onBlur()" placeholder="Enter Address 1" required>
      </div>
    </div>
    <div class="form-group">
      <label for="addr2" class="col-md-2 ">Address 2</label>
      <div class="col-md-4">
          <input type="text" [(ngModel)]="address.addr2" class="form-control" (blur)="onBlur()" placeholder="Enter Address 2">
      </div>
    </div>
  </div>
 <!--</form> -->

 <!--<form [formGroup]="addrForm" >
  <fieldset>
    <div class="row">
      <div class="form-group">
        <label for="Street" class="col-md-2 ">Street</label>
        <div class="col-md-4">
          <input type="text" class="form-control" [formControl]="addrForm.controls['street']" placeholder="Enter Street">
        </div>
      </div>
      <div class="form-group">
        <label for="stockindex" class="col-md-2 ">Zip</label>
        <div class="col-md-4">
          <input type="text" class="form-control" [formControl]="addrForm.controls['zip']" placeholder="Enter Zip">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label for="cardnumber" class="col-md-2 ">City</label>
        <div class="col-md-4">
          <input type="text" class="form-control" [formControl]="addrForm.controls['city']" placeholder="Enter City">
        </div>
      </div>
    </div>   
  </fieldset>
</form>-->
