<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <h4 class="card-title">View Corporate</h4>
    </div>
    <div class="col-xs pull-xs-right">
        <a class="btn btn-primary" role="button" aria-pressed="true" [routerLink]="['/home']">Back</a>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-header">
        Corporate Details
      </div>
      <div class="card-block">

          <div class="row">
            <div class="col-xs-3 form-group">
              <label for="corpname">Corporate Name</label>
              <h5>{{result?.corpname}}</h5>
            </div>
            <div class="col-xs-3 form-group">
              <label for="excode" >Exchange Code</label>
              <h5>{{result?.excode}}</h5>
            </div>
            <div class="col-xs-3 form-group">
              <label for="corptype" >Corporate Type</label>
             <h5>{{result?.corptype}}</h5>
            </div>
            <div class="col-xs-3 form-group">
              <label for="exchangename" >Exchange Name</label>
              <h5>{{result?.exname}}</h5>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-3 form-group">
              <label for="cardnumber" >Card Number</label>
              <h5>{{result?.cardno}}</h5>
            </div>
            <div class="col-xs-3 form-group">
              <label for="stockindex" >Stock Index Code</label>
              <h5>{{result?.sicode}}</h5>
            </div>
            <div class="col-xs-3 form-group">
              <label for="singledebit" >Single Debit</label>
              <h5>{{result?.sindeb=="true"?"Yes":"No"}}</h5>
            </div>
            <div class="col-xs-3 form-group">
              <label for="authmode" >Authorization Mode</label>
              <h5>{{result?.authmode}}</h5>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-3 form-group">
              <label for="addr1">Address 1</label>
              <h5>{{result?.address?.addr1}}</h5>
            </div>
            <div class="col-xs-3 form-group">
              <label for="addr2">Address 2</label>
              <h5>{{result?.address?.addr2}}</h5>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>
