<!--<div class="container">
  <div class="row">
    <div class="col-xs-11">
      <h4 class="card-title">Edit Corporate</h4>
    </div>
    <div class="col-xs">
        <a class="btn btn-primary" role="button" aria-pressed="true" [routerLink]="['/home']">Back</a>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-header">
        Basic Details
      </div>
      <div class="card-block">

        <form [formGroup]="form" (ngSubmit)="submitForm(form.value)">

          <div class="row">
            <div class="form-group">
              <label for="corpname" class="col-xs-2 ">Corporate Name</label>
              <div class="col-xs-4">
                  <input type="text" class="form-control" formControlName="corpname" placeholder="Enter Name">
              </div>
            </div>
            <div class="form-group">
              <label for="excode" class="col-xs-2 ">Exchange Code</label>
              <div class="col-xs-4">
                  <input type="text" class="form-control" formControlName="excode" placeholder="Enter Exchange Code">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="corptype" class="col-xs-2 ">Corporate Type</label>
              <div class="col-xs-4">
                  <select class="form-control" formControlName="corptype">
                    <option>Type 1</option>
                    <option>Type 2</option>
                    <option>Type 3</option>
                    <option>Type 4</option>
                  </select>
              </div>
            </div>
            <div class="form-group">
              <label for="exchangename" class="col-xs-2 ">Exchange Name</label>
              <div class="col-xs-4">
                  <input type="text" class="form-control" formControlName="exname" placeholder="Enter Exchange Name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="cardnumber" class="col-xs-2 ">Card Number</label>
              <div class="col-xs-4">
                  <input type="text" class="form-control" formControlName="cardno" placeholder="Enter Card Number">
              </div>
            </div>
            <div class="form-group">
              <label for="stockindex" class="col-xs-2 ">Stock Index Code</label>
              <div class="col-xs-4">
                  <input type="text" class="form-control" formControlName="sicode" placeholder="Enter Stock Index Code">
              </div>
            </div>
          </div>

          <app-address name="address" [ngModel]="dataModel"></app-address>

          <div class="row">
            <div class="form-group">
              <label for="singledebit" class="col-xs-2 ">Single Debit</label>
              <div class="col-xs-4">
                  <input type="checkbox" class="form-control" formControlName="sindeb">
              </div>
            </div>
            <div class="form-group">
              <label for="authmode" class="col-xs-2 ">Authorization Mode</label>
              <div class="col-xs-4">
                <select class="form-control" formControlName="authmode">
                  <option>Mode 1</option>
                  <option>Mode 2</option>
                  <option>Mode 3</option>
                  <option>Mode 4</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>-->

<div class="container">
  <div class="row">
    <alert *ngFor="let alert of alerts;let i = index" [type]="alert.type" dismissible="true" (close)="closeAlert(i)">{{alert?.msg}}</alert>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <h4 class="card-title">{{location=='/corporate-create'?'Create':'Edit'}} Corporate</h4>
    </div>
    <div class="col-xs pull-xs-right">
        <a class="btn btn-primary" role="button" aria-pressed="true" [routerLink]="['/home']">Back</a>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-header">
        Basic Details
      </div>
      <div class="card-block">

        <form #form="ngForm" (ngSubmit)="submitForm(form.value)">

          <div class="row">
            <div class="form-group">
              <label for="corpname" class="col-xs-2 ">Corporate Name</label>
              <div class="col-xs-4">
                  <input type="text" class="form-control" placeholder="Enter Name" name="corpname" [disabled]="location!=='/corporate-create'" 
                  ngModel="{{location!=='/corporate-create' ? resfromedit.corpname : ''}}" required>
              </div>
            </div>
            <div class="form-group">
              <label for="excode" class="col-xs-2 ">Exchange Code</label>
              <div class="col-xs-4">
                  <input type="text" class="form-control" name="excode" ngModel="{{location!=='/corporate-create' ? resfromedit.excode : ''}}" placeholder="Enter Exchange Code">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="corptype" class="col-xs-2 ">Corporate Type</label>
              <div class="col-xs-4">
                  <select class="form-control" name="corptype" ngModel="{{location!=='/corporate-create' ? resfromedit.corptype : ''}}">
                    <option>Type 1</option>
                    <option>Type 2</option>
                    <option>Type 3</option>
                    <option>Type 4</option>
                  </select>
              </div>
            </div>
            <div class="form-group">
              <label for="exchangename" class="col-xs-2 ">Exchange Name</label>
              <div class="col-xs-4">
                  <input type="text" class="form-control" name="exname" ngModel="{{location!=='/corporate-create' ? resfromedit.exname : ''}}" placeholder="Enter Exchange Name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="cardnumber" class="col-xs-2 ">Card Number</label>
              <div class="col-xs-4">
                  <input type="text" class="form-control" name="cardno" ngModel="{{location!=='/corporate-create' ? resfromedit.cardno : ''}}" placeholder="Enter Card Number">
              </div>
            </div>
            <div class="form-group">
              <label for="stockindex" class="col-xs-2 ">Stock Index Code</label>
              <div class="col-xs-4">
                  <input type="text" class="form-control" name="sicode" ngModel="{{location!=='/corporate-create' ? resfromedit.sicode : ''}}" placeholder="Enter Stock Index Code" required pattern="[0-9]+" title="Stock Index Code must contain only numerals, e.g. 1234" >
              </div>
            </div>
          </div>

          <!--<app-address (formUpdate)="formUpdated($event)"></app-address>-->
          <app-address *ngIf="location=='/corporate-create'" name="address" [ngModel]="dataModel"></app-address>
          <app-address *ngIf="location!=='/corporate-create'" name="address" [ngModel]="resfromedit.address"></app-address>
          <!--<app-address [(address)]="value.address"></app-address>-->

          <div class="row">
            <div class="form-group">
              <label for="singledebit" class="col-xs-2 ">Single Debit</label>
              <div class="col-xs-4">
                  <input type="checkbox" class="form-control" name="sindeb" ngModel>
              </div>
            </div>
            <div class="form-group">
              <label for="authmode" class="col-xs-2 ">Authorization Mode</label>
              <div class="col-xs-4">
                <select class="form-control" name="authmode" ngModel="{{location!=='/corporate-create' ? resfromedit.authmode : ''}}">
                  <option>Mode 1</option>
                  <option>Mode 2</option>
                  <option>Mode 3</option>
                  <option>Mode 4</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div *ngIf="location=='/corporate-create'" class="col-xs-1">
                 <button type="submit" class="btn btn-primary">Submit</button>
              </div>
              <div *ngIf="location!=='/corporate-create'" class="col-xs-2">
                <button type="submit" class="btn btn-warning">Update</button>
              </div>
              <div *ngIf="location!=='/corporate-create'" class="col-xs-2">
                <button type="button" class="btn btn-danger" (click)="deleteForm(resfromedit.sicode)">Delete</button>
              </div>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
