<nav class='navbar navbar-light bg-faded'>
        <ul class='nav navbar-nav'>
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/home']">Home</a>
            </li>
        </ul>
</nav>

<div class='container'>
    <router-outlet></router-outlet>
</div>
