/* You can add global styles to this file, and also import other style files */

/*body{
  background: linear-gradient(to top, #abbaab, #ffffff) no-repeat;
}*/

html
{
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #8e9eab, #eef2f3);
}
body{
  background: none;
}
    

.container{
  padding-top: 25px;
}

/*.form-control.ng-invalid{
  border: 1px solid orangered;
  transition: 0.25s ease;
}
.form-control.ng-valid{
  border: 1px solid lightgreen;
  transition: 0.25s ease;
}*/

/*.form-control.ng-dirty{
  border: 1px solid lightgreen;
  transition: 0.25s ease;
}*/

input:required:valid{
  border: 1px solid lightgreen;
  transition: 0.25s ease;
}
input:required:invalid{
  border: 1px solid orangered;
  transition: 0.25s ease;
}
