<div class="container">
  <div class="row">
    <div class="col-xs-10">
      <h1>Corporate List</h1>
    </div>
    <div class="col-xs">
      <a class="btn btn-primary" role="button" aria-pressed="true" [routerLink]="['/corporate-create']">Create Corporate</a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs">
      <table class="table table-sm table-hover table-striped">
        <thead>
          <th>Code</th>
          <th>Name</th>
          <th>Type</th>
          <th>Status</th>
          <th>View</th>
          <th>Edit</th>
          <!--<th>Select</th>-->
        </thead>
        <tbody>
          <tr *ngFor="let corp of corps">
            <td>{{corp.sicode}}</td>
            <td>{{corp.corpname}}</td>
            <td>{{corp.corptype}}</td>
            <td>Active/Inactive</td>
            <td><button class="btn btn-secondary" [routerLink]="['/corporate-view', corp.sicode]">View</button></td>
            <td><button class="btn btn-secondary" [routerLink]="['/corporate-edit', corp.sicode]">Edit</button></td>
            <!--<td><input type="checkbox"></td>-->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
